.banner {
  width: 100%;
  min-height: 100vh;
  background-image: url("img/banner-bg.jpg.webp");
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  color: #fff;

  .banner-o {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 100vh;

    .bleft {
      width: 45%;

      .btext {
       
        h2 {
          width: 70%;
          // font-size: 40px;
          font-size: 3rem;
          font-weight: 600;
          margin-top: 20px;
        }
        h5 {
          font-size: 15px;
          margin-top: 20px;
        }
        button {
          padding: 10px 50px;
          border: none;
          background-color:white;
          font-size: 16px;
          color:black;
          font-weight: bold;
          margin-top: 20px;

          &:hover {
            background-color: transparent;
            border: 1px solid white;
            color: white;
            transition: all 0.5s ease;
        }
        }
      }
    }
    .bright {
      width: 45%;
      .img {
        // width: 40%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    .banner-o {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .bleft {
        width: 100%;
        text-align: start;
        .btext{
          margin-top: 200px;
        }
      }
      .bright {
        width: 100%;
      }
    }
  }
}
