.section4{
    width: 100%;
    padding: 60px 0px;
    background-image: url('s4.jpg.webp');
    object-fit: cover;
    background-position: center;
    min-height: 80vh;
   
    .s4-o{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 80vh;
        width: 100%;
        gap: 70px;
        .s4top{
            width: 100%;
            text-align: center;
            padding: 0px 0px 20px;
            color: white;

            h2{
                font-size: 40px;
                
            }
            h4{
                padding-top: 20px;
                font-size: 18px;
                font-weight: 300;
            }
        }
        .s4cards{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;

            .s4card{
                width: 100%;
                background-color: white;
                border-radius: 15px;
               display: flex;
               align-items:flex-start;
               justify-content: center;
                flex-direction: column;
                gap: 20px;
                padding: 40px 40px;
                cursor: pointer;

                p{
                    color: gray;
                }
            
            }
        }
    }
}



@media screen and (max-width:768px) {
    .section4{
        .s4-o{
            .s4top{
                width: 100%;
            }

            .s4cards{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
            }
        }
    }
    
}


@media screen and (max-width:568px) {
    .section4{
        .s4-o{
            .s4top{
                width: 100%;
            }

            .s4cards{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(1,1fr);
            }
        }
    }
    
}